DISCORD_TOKEN=

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=
FIREBASE_ENABLED=true

NVIDIA_API_KEY=
NVIDIA_ASR_SERVER=grpc.nvcf.nvidia.com:443
NVIDIA_ASR_FUNCTION_ID=b0e8b4a5-217c-40b7-9b96-17d84e666317
VOICE_ASSISTANT_WAKE_WORD=동봇

BOT_ROOM_GENERATOR_CHANNEL_NAME=방 생성
BOT_ROOM_PREFIX=음성 수다방
